.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

body {
    background-color: #454545;
}

h1, h2, h3, h4 {
    color: #adadad;
}

.picture-fix {
    object-fit: cover;
    width: 100%;
    height: auto;
}

#footer {
    background-color: #666666; /* Light background color */
    text-align: center; /* Center the content */
    bottom: 0;
    width: 60%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#footer a {
    display: block; /* Make the anchor tag a block element */
    background-color: #666666;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit the color from the parent */
}

#footer a:hover {
    background-color: #444444; /* Change background color on hover */
}

#footer h1 {
    margin: 0; /* Remove default margin */
}

/* Navbar styling for sidebar content */
.navbar {
    padding: 10px;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #888888;
}

.navbar-nav .nav-link img {
    display: block;
    width: 100px;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.navbar-nav .nav-link .button-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}

.navbar-nav .nav-link:hover img {
    opacity: 0.7; /* Slightly increase opacity on hover */
}

/* Main content styling */
main {
    padding: 20px;
    margin: 0 auto; /* Center the main content */
}

.image-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.image-button img {
    display: block;
    width: 200px;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.image-button .button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}

.image-button:hover img {
    opacity: 0.7; /* Slightly increase opacity on hover */
}

/* Large card styling */
.large-card {
    width: 100%;
    height: auto; /* Adjust the height to fit the content */
}

.large-card .picture-fix {
    width: 100%;
    height: auto; /* Adjust the height of the image to fit the larger card */
}

/* Ensure four columns per row */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
