.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
    }
body {
	background-color: #454545;
}
h1,h2,h3,h4	{
	color: #adadad
}
.picture-fix{
	object-fit: cover;
	width: 300px;
	height: 400px;
}
#footer {
  background-color: #666666; /* Light background color */
  text-align: center; /* Center the content */
  bottom: 0;
  width: 60%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#footer a {
  display: block; /* Make the anchor tag a block element */
  background-color: #666666
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Inherit the color from the parent */
}

#footer a:hover {
  background-color: #444444; /* Change background color on hover */
}

#footer h1 {
  margin: 0; /* Remove default margin */
}
